@using PresentationLayer.DTOs
@model ICollection<DishDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Dishes</title>
    <link rel="stylesheet" href="~/css/DishList.css" />
</head>
<body>
    <div class="header">
        <a class="header-siteName" asp-controller="TodayInfo" asp-action="Info">CalCalc</a>
        <a class="header-link" asp-controller="Dish" asp-action="DishList">List of Dishes</a>
    </div>
    <h2>Dishes</h2>
    
    Search <br />
    <input class="search" type="text" /><br />
    
    Min KCalories <br />
    <input class="min-calorie" type="number" /> <br />
    
    Max KCalories <br />
    <input class="max-calorie" type="number" /> <br />

    <div class="responce"></div>

    <table class="table">
        <tr class="tableHead">
            <td>Name</td>
            <td>KCalories</td>
            <td>Fat / Proteins / Carbongidrates</td>
        </tr>
    @foreach (var dish in Model)
    {
        <tr>
            <td>@dish.Name</td>
            <td>@dish.KCalorie kcal</td>
            <td>@dish.TotalFat / @dish.Protein / @dish.Carbohydrates</td>
            <td>
                <input type="button" value="Add to Eaten" onclick="AddEatenDish(@dish.Id)"/>
            </td>

        </tr>
    }

    </table>
    <div class="status"></div>
    <script src="~/js/DishList.js"></script>
</body>
</html>
